---
import Switch from "@shared/ui/flow/Switch.astro";
import Match from "@shared/ui/flow/Match.astro";
import Show from "@shared/ui/flow/Show.astro";

import Section from "@shared/ui/Section.astro";
import Duplex from "@components/Duplex/ui/Duplex.astro";
import Body from "@components/Body/ui/Body.astro";

import Hero from "@components/Hero/ui/Hero.astro";

interface Props {
  type: string;
}

const type = Astro.props.type;
---

<Switch>
  <Fragment slot="fallback">
    <Show when={import.meta.env.MODE === "development"}>
      <Section>
        <p>Unknown type: {type}</p>
      </Section>
    </Show>
  </Fragment>
  <Match when={type === "hero"}>
    <Hero contain={true} presentation="full">
      <Fragment slot="content">
        <h1 class="title">Hero component</h1>
        <p class="subtitle">Egestas ante integer dolor sed tempor parturient, auctor aenean.</p>
      </Fragment>
      <img slot="image" width="1400" height="700" src="https://picsum.photos/1400/700" alt="Placeholder image" />
    </Hero>
  </Match>
  <Match when={() => type === "duplex"}>
    <Duplex contain={true}>
      <img width="600" height="500" slot="aside" src="https://picsum.photos/600/500" alt="Random image" />
      <div slot="content">
        <h2>This is a Duplex component headline</h2>
        <p>Slots are replaced</p>
      </div>
    </Duplex>
  </Match>
  <Match when={async () => type === "testimonial"}>
    <Section>
      <Testimonial />
    </Section>
  </Match>
  <Match when={type === "body"}>
    <Section width="narrow">
      <Body />
    </Section>
  </Match>
  <Match when={type === "video"}>
    <Section width="narrow">
      <Video />
    </Section>
  </Match>
  <Match when={type === "image"}>
    <Section width="narrow">
      <Image />
    </Section>
  </Match>
  <Match when={type === "card list"}>
    {
      () => {
        // Technically if you need to, you can
        // place the child content in a function.  That way
        // you have access to the full power of JS.  I don't
        // really think I like this, but it's interesting to know.
        return (
          <Section width="narrow">
            <p>@todo: {type}</p>
          </Section>
        );
      }
    }
  </Match>
</Switch>
