---
import Section from '../Section.astro'
import Body from '../Body.astro'

export const story = {
  name: 'components/Body/Default',
  description: 'A basic body component, no extras',
}
---

<Section theme='light' width="narrow">
  <Body />
</Section>