---
import Switch from '@components/flow/Switch.astro';
import Match from '@components/flow/Match.astro';
import Show from '@components/flow/Show.astro';

import Layout from '@layouts/Layout.astro';


import Section from '@components/ui/Section.astro';
import Hero from '@components/ui/Hero.astro';
import Testimonial from '@components/ui/Testimonial.astro';
import Duplex from '@components/ui/Duplex.astro';

const content = [
	'hero',
	'duplex',
	'testimonial',
	'card list',
]
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="/example">Example</a>
	  {content.map((type) => (
			<Switch>
				<Match when={type === 'hero'}>
					<Hero />
				</Match>
				<Match when={() => type === 'duplex'}>
					<Section>
						<Duplex />
					</Section>
				</Match>
				<Match when={async () => type === 'testimonial'}>
					<Section>
						<Testimonial />
					</Section>
				</Match>
				<Fragment slot="fallback">
					<Show when={import.meta.env.MODE === 'development'}>
						<Section>
							<p>Unknown type: {type}</p>
						</Section>
					</Show>
				</Fragment>
			</Switch>
		))}
	</main>
</Layout>

