---
import Section from '@shared/ui/Section.astro';
import GridComponent from './Grid.astro';

export const story = {
  name: 'components/Grid/default',
  description: 'A flexible grid component',
}
---

<Section width='narrow'>
  <GridComponent fraction="34fr 66fr">
    <li>First</li>
    <li>second</li>
    <li>third</li>
    <li>fourth</li>
    <li>fifth</li>
    <li>sixth</li>
    <li>seventh</li>
    <li>eight</li>
    <li>ninth</li>
    <li>tenth</li>
  </GridComponent>
</Section>
