---
// JS
---

<div data-component-id="Hero">
  Hero component
</div>

<style>
  /* Default. Remove and update as needed */
  [data-component-id="Hero"] {
    display: block;
    background: #f0f0f0;
    padding: 1rem;
    border: 1px dashed #ccc;
    width: 100%;
    height: 300px;
  }
</style>