---
import Section from "./Section.astro";

const Wrapper = Astro.props.contain ? Section : Fragment;
const forward = Astro.props.forward || {};
---

<Wrapper
  width={forward?.width || "full"}
  theme={forward?.theme || "dark"}
  {...forward}
>
  <div data-component-id="Hero">Hero component</div>
</Wrapper>

<style>
  /* Default. Remove and update as needed */
  [data-component-id="Hero"] {
    display: block;
    padding: 1rem;
    border: 1px dashed #ccc;
    width: 100%;
    height: 300px;
  }
</style>
