---
import Section, { type Props as SectionProps } from "./Section.astro";

export interface HeroProps {
  contain?: boolean;
  forward?: SectionProps;
}

const Wrapper = Astro.props.contain ? Section : Fragment;
const forward = Astro.props.forward || {};
---

<Wrapper
  width={forward?.width || "full"}
  theme={forward?.theme || "dark"}
  {...forward}
>
  <div data-component-id="Hero">
    <h1>Hero component</h1>
    <img width="1400" height="700" src="https://picsum.photos/1400/700" alt="Placeholder image" />
  </div>
</Wrapper>

<style>
  /* Default. Remove and update as needed */
  [data-component-id="Hero"] {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    > * {
      grid-column: 1;
      grid-row: 1;
    }
  }

  h1 {
    z-index: 1;
    align-self: center;
    justify-self: center;
    font-size: var(--size-step-8);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: 0;
    mask-image: linear-gradient(to bottom, black, transparent);
    filter: brightness(0.5);
  }
</style>
