---
import Section, { type Props as SectionProps } from "./Section.astro";
import Duplex from "./Duplex.astro";

export interface HeroProps {
  contain?: boolean;
  presentation?: "image-right" | "full";
  forward?: SectionProps;
}

const Wrapper = Astro.props.contain ? Section : Fragment;
const forward = Astro.props.forward || {};
const presentation = Astro.props.presentation || "image-right";
---

<Wrapper
  width={forward?.width || "full"}
  theme={forward?.theme || "dark"}
  {...forward}
>
  <div data-component-id="Hero" data-presentation={presentation}>
    {presentation === 'image-right' && (
      <Duplex>
        <div slot="content">
          <p class="eyebrow">EYEBROW</p>
          <h1>Hero title can be wider than the subtitle</h1>
          <p>Maximus scelerisque quis dictum aptent in semper dolor maecenas suspendisse lobortis, habitant ante fringilla consequat.</p>
        </div>
        <img slot="aside" width="600" height="500" src="https://picsum.photos/600/500" alt="Placeholder image" />
      </Duplex>
    )}
    {presentation === 'full' && (
      <div class="content">
        <h1>Hero component</h1>
        <p>Maximus scelerisque quis dictum aptent in semper dolor maecenas suspendisse lobortis, habitant ante fringilla consequat.</p>
      </div>
      <img width="1400" height="700" src="https://picsum.photos/1400/700" alt="Placeholder image" />
    )}
  </div>
</Wrapper>

<style>
  /* Default. Remove and update as needed */
  [data-component-id="Hero"] {
    position: relative;
  }

  [data-component-id="Hero"] :global(.eyebrow) {
    color: var(--color-primary, #29ccc1);
    font-size: var(--size-step--1);
    font-family: var(--font-family-sans);
    font-weight: 400;
    text-transform: uppercase;
  }
  [data-component-id="Hero"] :global(:is(.eyebrow, h1, p)) {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  [data-component-id="Hero"][data-presentation="full"] {
    display: grid;
    grid-template-columns: 1fr;
    > * {
      grid-column: 1;
      grid-row: 1;
    }
  }

  [data-component-id="Hero"][data-presentation="full"] .content {
    z-index: 1;
    align-self: center;
    justify-self: center;
    max-width: 75ch;
    margin: 0 auto;
    padding-inline: var(--space-l-xl);
  }

  [data-component-id="Hero"][data-presentation="full"] h1 {
    font-size: var(--size-step-8);
    line-height: .8;
  }

  [data-component-id="Hero"][data-presentation="full"] img {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: 0;
    mask-image: linear-gradient(to bottom, black, transparent);
    filter: brightness(0.25);
  }
</style>
