---
// JS
---

<div data-component-id="Image">Image component</div>

<style>
  /* Default css. Remove and add your own styles */
  [data-component-id="Image"] {
    display: block;
    padding: 1rem;
    border: 1px dashed #ccc;
    width: 100%;
    height: 300px;
  }
</style>
