---
// JS
---

<div data-component-id="Section">
  <slot />
</div>

<style>
  /* Default css. Remove and add your own styles */
  [data-component-id="Section"] {
    display: block;
    background: #f0f0f0;
    padding: 1rem;
    border: 1px dashed #ccc;
    width: 100%;
    min-height: 300px;
  }
</style>