---
// JS
---

<div data-component-id="Video">
  Video component
</div>

<style>
  /* Default css. Remove and add your own styles */
  [data-component-id="Video"] {
    display: block;
    background: #f0f0f0;
    padding: 1rem;
    border: 1px dashed #ccc;
    width: 100%;
    height: 300px;
  }
</style>